/* --------------------------- Обнуление встроенных отступов --------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------- Подключение семьи шрифтов Comfortaa --------------------------- */
@font-face{
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
}
/* --------------------------- Подключение семьи шрифтов Montserrat --------------------------- */
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
/* --------------------------- Подключение семьи шрифтов Roboto --------------------------- */
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
/* --------------------------- Подключение семьи шрифтов Poppins --------------------------- */
@font-face{
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
/* --------------------------- Настройка общего тела сайта --------------------------- */
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
/* --------------------------- Классы для отдельных семей шрифтов --------------------------- */
.Mont{
    font-family: "Montserrat";
}
.Poppins{
    font-family: "Poppins";
}
.Roboto{
    font-family: "Roboto";
}
.Comfort{
    font-family: "Comfortaa";
}
/* ---------------------------------------------------------------------- Index.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */
header{
    width: 1920px;
    height: 162px;
    display: flex;
    align-items: center;
    padding: 0 352px;
    justify-content: space-between;
}
.IndexHTML .Sec1{
    background: url(../images/index/Sec1Bg.png) no-repeat center center / cover;
}
.IndexHTML .Sec1Div{
    height: 890px;
    width: 1920px;
}
.LogoName{
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: white;
    display: flex;
}
a{
    text-decoration: none;
}
a:hover{
    transform: scale(1.08);
}
header a{
    transition: 0.35s all;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
header div a{
    text-transform: uppercase;
    display: flex;
    width: 132px;
    height: 39px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    transition: 0.55s all;
    font-size: 13.5px;
    font-weight: 500;
}
header div{
    display: flex;
}
header div a:hover{
    background-color: white;
    color: #bb6df3;
}
.IndexHTML .Sec1Div{
    padding: 128px 0 0 352px;
}
.IndexHTML .Sec1Div .Button{
    width: 308px;
    height: 79px;
    background: url(../images/index/ButtonSec1.png) no-repeat center center / cover;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-weight: 700;
    line-height: 26.76px;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
}
.IndexHTML .Sec1Div h2{
    font-size: 72px;
    font-weight: 900;
    color: #3b668d;
    text-transform: uppercase;
    width: 507px;
    line-height: 97%;
    margin-bottom: 9px;
}
.IndexHTML .Sec1Div .MoreInfo:hover{
    transform: scale(1.1);
}
.IndexHTML .Sec1Div a{
    transition: 0.5s all;
}
/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- Contact.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- FAQ.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- Login.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- Price.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- Profile.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */

/* ---------------------------------------------------------------------- Register.html ---------------------------------------------------------------------- */

/* --------------------------- Настройка шапки сайта, ее элементов --------------------------- */

/* --------------------------- Настройка первой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка третьей секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка четвертой секции сайта, ее элементов --------------------------- */

/* --------------------------- Настройка подвала сайта, его элементов --------------------------- */